# Email Configuration
EMAIL_USER=cognixlabs.team@gmail.com
EMAIL_TO=cognixlabs.team@gmail.com

# Firebase Admin SDK Credentials
DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Groq API Configuration
GROQ_API_KEY=

# Razorpay Configuration
RAZORPAY_KEY=
VITE_RAZORPAY_KEY=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
